{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="stylesheets/style.css">
{% endblock %}

{% block body %}
<body>

    {% include "header.html" ignore missing %}

        
    <main role="main">


        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Be prepared</h1>
                <p class="lead">Immersive operations to ready students for the real world</p>
            </div>
        </div>
        

        
        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Blockchain</h2>
                <p>From currencies to ledgers, build your transactions on the blockchain to help secure transactions with currency and to verify supply-chain data</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Supply-chain</h2>
                <p>Create companies to work hand-in-hand in supply-chain networks to deliver products to retail vendors.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Cybersecurity</h2>
                <p>Act with or against businesses and the network to discover flaws, invade wallets, or interrupt infrastructure.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


        </div><!-- /.container -->


    </main>    



{% endblock %}