{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="stylesheets/style.css">
{% endblock %}

{% block body %}
<body>

    {% include "header.html" ignore missing %}

    <div class="container">
        <div class="card-deck mb-2 text-center">

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Bitcoin Wallet</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">Cryptocurrencies</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Check Your Wallet</li>
                        <li>Pay for Products</li>
                        <li>Transfer Funds</li>
                        <li>Mine for More Coins</li>
                    </ul>
                    <a href="#" class="btn btn-lg btn-primary btn-lg disabled">Open Panel</a>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">Your Company</h2>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Create your business</li>
                        <li>Manufacture</li>
                        <li>Ship and receive</li>
                        <li>Sell at Retail</li>
                    </ul>
                    <a href="/game" class="btn btn-lg btn-primary btn-lg">Open Panel</a>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Accounting</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">Ledgers</small></h2>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Transactions</li>
                        <li>Transfers</li>
                        <li>Bills</li>
                        <li>&nbsp;</li>
                    </ul>
                    <a href="#" class="btn btn-lg btn-primary btn-lg disabled">Open Panel</a>
                </div>
            </div>
            
            <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Cyber Security</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">Security</small></h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Recon</li>
                            <li>Penetration</li>
                            <li>Alteration</li>
                            <li>&nbsp;</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-primary btn-lg disabled">Open Panel</a>
                    </div>
                </div>

                <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Communication</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">Messaging</small></h2>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>E-Mail businesses</li>
                        <li>Notices</li>
                        <li>Events</li>
                        <li>&nbsp;</li>
                    </ul>
                    <a href="/messaging" class="btn btn-lg btn-primary btn-lg">Open Panel</a>
                </div>
            </div>

            {% if user.admin == 1 %}
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Administration</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">Overlord!</small></h2>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Control Coins</li>
                        <li>Oversee businesses</li>
                        <li>Create chaos!</li>
                        <li>&nbsp;</li>
                    </ul>
                    <a href="/admin" class="btn btn-lg btn-primary btn-lg">Open Panel</a>
                </div>
            </div>
            {% endif %}
            
        </div>
    </div>

</div>
{% endblock %}