{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
<body>

    {% include "header.html" ignore missing %}

    <div class="container-fluid">
        <div class="row">
        
            {% include "sidebar-admin.html" %}    

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Game Settings</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">Share</button>
                        <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                        </button>
                    </div>
                </div>
                <p><a href="/admin/games/new" class="btn btn-primary"><span data-feather="plus-circle" class="feather-med"></span> Create a new game</a></p>
                <table class="table table-striped table-hover table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Created</th>
                        <th scope="col">Type</th>
                        <th scope="col">In Progress</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for game in games %}
                        <tr id="{{game._id}}">
                            <td>{{game.name}}</td>
                            <td>{{game.owner.email}}</td>
                            <td>{{game.created}}</td>
                            <td>{% if game.gametype == 1 %}Short{% else %}Semester{% endif %}</td>
                            <td>{% if game.in_progress == 1 %}<a href="#" class="btn btn-primary btn-sm"><span data-feather="check" class="feather-med"></span> Running</a>{% else %}<a href="#" class="btn btn-primary btn-sm"><span data-feather="play" class="feather-med"></span> Start</a>{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </main>
    
        </div>
    </div>
    
{% endblock %}