{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
<body>

    {% include "header.html" ignore missing %}

    <div class="container-fluid">
        <div class="row">
        
            {% include "sidebar-admin.html" %}    

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Game Settings</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">Share</button>
                        <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                        </button>
                    </div>
                </div>

                <form method="POST">

                    <div class="row">
                        <div class="col">
                            <label for="name">Game Name</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Ex: Learning the bullwhip effect">
                        </div>
                        <div class="col">
                            <label for="gametype">Game Type</label>
                            <select id="gametype" name="gametype" class="form-control">
                                <option value="1" selected>Quick Game (Single Class)</option>
                                <option value="2">Long Game (Semester)</option>
                            </select>                        
                        </div>
                    </div>
                    <p></p>

                    <div class="container">
                        <div class="card-deck mb-2">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-title">Starting Items</h5>                    
                                    <label for="starting_stock">Stock</label>
                                    <input type="text" id="starting_stock" name="starting_stock" class="form-control" placeholder="Ex: 5" value="20">
                                    <label for="backorder_stock">Backorders</label>
                                    <input type="text" id="backorder_stock" name="backorder_stock" class="form-control" placeholder="Ex: 5" value="0">
                                    <label for="incoming_stock">Incoming Stock</label>
                                    <input type="text" id="incoming_stock" name="incoming_stock" class="form-control" placeholder="Ex: 5" value="5">
                                    <label for="incoming_orders">Incoming Orders</label>
                                    <input type="text" id="incoming_orders" name="incoming_orders" class="form-control" placeholder="Ex: 5" value="5">                            
                                </div>
                            </div>

                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-title">Shipping Defaults</h5>                    
                                    <label for="shipping_delay">Shipping Delay</label>
                                    <input type="text" id="shipping_delay" name="shipping_delay" class="form-control" placeholder="Ex: 5" value="2">
                                    <label for="shipping_further_delays">Further Delays</label>
                                    <select id="shipping_further_delays" name="shipping_further_delays" class="form-control">
                                        <option value="0" selected>0 - No delay variance</option>
                                        <option value="1">1 day maximum</option>
                                        <option value="2">2 day maximum</option>
                                        <option value="3">3 day maximum</option>
                                        <option value="4">4 day maximum</option>
                                        <option value="5">5 day maximum</option>
                                    </select>              
                                    <small id="FurtherDelaysBlock" class="form-text text-muted">
                                        Further shipping delays are random and can happen at any time. 5 day variance means a delay can be between 1 to 5 days of delay.
                                    </small>              
                                </div>
                            </div>
        
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-title">Information Display</h5>                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="0" id="shipping_information" name="shipping_information">
                                        <label class="form-check-label" for="shipping_information">
                                            Shipping Information
                                        </label>
                                    </div>                                
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="0" id="customer_demand" name="customer_demand">
                                        <label class="form-check-label" for="customer_demand">
                                            Customer Demand
                                        </label>
                                    </div>                                
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="0" id="inventories" name="inventories">
                                        <label class="form-check-label" for="inventories">
                                            Inventories
                                        </label>
                                    </div>                                
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="0" id="send_messages" name="send_messages">
                                        <label class="form-check-label" for="send_messages">
                                            Sending Messages
                                        </label>
                                        <small id="SendingMessagesBlock" class="form-text text-muted">
                                            If unchecked, only game admins can send messages
                                        </small>
                                    </div>                                                                                        
                                </div>
                            </div>

                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-title">Round Settings</h5>                    
                                    <label for="end_round">End Rounds</label>
                                    <select id="end_round" name="end_round" class="form-control">
                                        <option value="0" selected>When all orders are placed</option>
                                        <option value="1">After 1 hour</option>
                                        <option value="2">After 6 hours</option>
                                        <option value="3">After 24 hours</option>
                                    </select>                      

                                    <label class="form-check-label" for="max_rounds">
                                            Maximum Rounds
                                    </label>
                                    <input type="text" id="max_rounds" name="max_rounds" class="form-control" placeholder="Ex: 5" value="40">
                                    <small id="SendingMessagesBlock" class="form-text text-muted">
                                        0 = unlimited (Good for Semester), typical single class is 40 rounds
                                    </small>
                                </div>
                            </div>
    
                        </div>
                        <!-- card deck-->
                    
                    </div>
                    <!-- container -->
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Save Game Settings</button>
                </form>

            </main>
    
        </div>
    </div>
        
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
    
{% endblock %}