{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
<body>

    {% include "header.html" ignore missing %}

    <div class="container-fluid">
        <div class="row">
        
            {% include "sidebar-admin.html" %}    

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Player Settings</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">Share</button>
                        <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                        </button>
                    </div>
                </div>
                
                <table class="table table-striped table-hover table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Business</th>
                        <th scope="col">Accounting</th>
                        <th scope="col">Security</th>
                        <th scope="col">Captain</th>
                        <th scope="col">Administrator</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for u in users %}
                        <tr id="{{u._id}}">
                            <td>{{u.email}}</td>
                            <td>{% if u.business == 1 %}<span data-feather="check"></span>{%endif%}</td>
                            <td>{% if u.accounting == 1 %}<span data-feather="check"></span>{%endif%}</td>
                            <td>{% if u.security == 1 %}<span data-feather="check"></span>{%endif%}</td>
                            <td>{% if u.captain == 1 %}<span data-feather="check"></span>{%endif%}</td>
                            <td>{% if u.admin == 1 %}<span data-feather="check"></span>{%endif%}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </main>
    
        </div>
    </div>
        
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
    
{% endblock %}