{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
<body>

    {% include "header.html" ignore missing %}

    <div class="container">
        <div class="row col-md-12 justify-content-center">
        
            <div class="col-md-12 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Select a Role</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>

            <div class="container-small">
                <div class="card-deck text-center">

                    {% if not game.manufacturer %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Be a Manufacturer</h4>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title pricing-card-title">Sell Your Product!</h3>
                            <ul class="list-unstyled mt-3 mb-4">
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="/game/select/{{game._id}}/1" class="btn btn-lg btn-primary btn-lg">Pick This Role</a>
                        </div>
                    </div>
                    {% endif %}
                                        
                    {% if not game.distributor %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Be a Distributor</h4>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title pricing-card-title">Distribute Products to Stores!</h3>
                            <ul class="list-unstyled mt-3 mb-4">
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="/game/select/{{game._id}}/2" class="btn btn-lg btn-primary btn-lg">Pick This Role</a>
                        </div>
                    </div>
                    {% endif %}

                    {% if not game.wholesaler %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Be a Wholesaler</h4>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title pricing-card-title">Sell Products in Bulk!</h3>
                            <ul class="list-unstyled mt-3 mb-4">
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="/game/select/{{game._id}}/3" class="btn btn-lg btn-primary btn-lg">Pick This Role</a>
                        </div>
                    </div>
                    {% endif %}

                    {% if not game.retailer %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Be a Retailer</h4>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title pricing-card-title">Sell Products to Customers!</h3>
                            <ul class="list-unstyled mt-3 mb-4">
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="/game/select/{{game._id}}/4" class="btn btn-lg btn-primary btn-lg">Pick This Role</a>
                        </div>
                    </div>
                    {% endif %}
                            
                </div>
            </div>

        </div>
    </div>
    
{% endblock %}