{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
<body>

    {% include "header.html" ignore missing %}

    <div class="container">
        <div class="row">
                
            <div class="col-md-12 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Your Move!</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>


    
        </div>
    </div>
    
{% endblock %}