{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
<body>

    {% include "header.html" ignore missing %}

    <div class="container">
        <div class="row">
        
            <div class="col-md-12 justify-content-between align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Select a Game</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>

            <h3 class="h3">Open Games</h3>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Game Type</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for game in games %}
                    {% if game.in_progress == 0 %}
                    <tr id="{{game._id}}">
                        <td>{{game.name}}</td>
                        <td>{{game.owner.email}}</td>
                        <td>{% if game.gametype == 1 %}Short{% else %}Semester{% endif %}</td>
                        <td><a href="/game/join/{{game._id}}" class="btn btn-primary btn-sm"><span data-feather="arrow-right-circle" class="feather-med"></span> Join</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>

            <h3 class="h3">Running Games</h3>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Game Type</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for game in running_games %}
                    <tr id="{{game._id}}">
                        <td>{{game.name}}</td>
                        <td>{{game.owner.email}}</td>
                        <td>{% if game.gametype == 1 %}Short{% else %}Semester{% endif %}</td>
                        <td><a href="/game/join/{{game._id}}" class="btn btn-primary btn-sm"><span data-feather="arrow-right-circle" class="feather-med"></span> Play</a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>


        </div>
    </div>
    
{% endblock %}