
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<header class="masthead">
    <div class="inner">
        <h3 class="masthead-brand">Eco-system</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>            
            {% if user %}
            <a class="nav-link active" href="/account">My Dashboard</a>  
            <a class="nav-link" href="/logout"> Logout</a>
            {% endif %}
        </div>
        </nav>
    </div>
</header>

