{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="stylesheets/cover.css">
{% endblock %}

{% block body %}
<body class="text-center front">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Eco-system</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Home</a>
        {% if user %}
        <a class="nav-link" href="account">My Dashboard</a>  
        {% else %}
        <a class="nav-link" href="login">Login</a>
        <a class="nav-link" href="signup">Signup</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">[un]Chained Learning</h1>
    <p class="lead">Cryptocurrency, accounting, supplychain, vendor management, and cybersecurity built on blockchain</p>
    <p class="lead">
      {% if user %}
      <a href="account" class="btn btn-lg btn-secondary">My Account</a>
      {% else %}
      <a href="login" class="btn btn-lg btn-secondary">Login Now</a>
      {% endif %}
    </p>
    <p class="lead"><a href="about">Learn more about this project</a></p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.<br>
      Made with <span data-feather="heart"></span> by Erin Lukens<br>
      <a href="https://gitlab.com/elukens/eco-system">Available on <span data-feather="gitlab"></span></a></p>
    </div>
  </footer>
</div>


{% endblock %}